<main>
  <header
    class="bg-[#595959] p-4 mb-3 relative flex flex-wrap items-center justify-between shadow"
  >
    <nav
      class="relative w-full flex flex-wrap items-center justify-between pt-2 md:pt-0"
    >
      <div class="w-full flex flex-wrap items-center justify-between">
        <div
          class="w-full relative flex justify-between md:w-auto md:static md:block md:justify-start"
        >
          <h1 class="font-semibold text-xl">{{ title }}</h1>
          <button type="button" (click)="toggleMenu()" class="md:hidden">
            <span class="sr-only">Open main menu</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div>
        <div
          [ngClass]="{ hidden: !isMenuOpen, flex: isMenuOpen }"
          class="w-full pt-3 md:w-auto md:pt-0 md:flex items-center ml-auto"
        >
          <ul
            class="flex flex-col md:flex-row list-none md:items-center w-full"
          >
            <li class="pb-1 md:pb-0">
              <a
                [routerLink]="['/daily-trending']"
                routerLinkActive="text-[tomato] underline underline-offset-8"
                [routerLinkActiveOptions]="{ exact: true }"
                class="pr-4 hover:underline hover:underline-offset-8"
              >
                <span>Daily Trending</span>
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/now-playing']"
                routerLinkActive="text-[tomato] underline underline-offset-8"
                class="pr-4 hover:underline hover:underline-offset-8"
              >
                <span>Now Playing</span>
              </a>
            </li>
            <li class="mt-2 md:mt-0">
              <!-- <a
                [routerLink]="['/search']"
                routerLinkActive="text-[tomato] underline underline-offset-8"
                class="pr-4 hover:underline hover:underline-offset-8"
              >
                <span>Search</span>
              </a> -->
              <form
                class="flex items-center max-w-sm mx-auto"
                [formGroup]="movieSearch"
                (ngSubmit)="submitMovieSearch()"
              >
                <label for="movieTitle" class="sr-only">Search</label>
                <div class="relative w-full">
                  <input
                    type="text"
                    id="movieTitle"
                    formControlName="movieTitle"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 ps-2"
                    placeholder="Search Movie Title"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="p-2 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
                  [disabled]="!movieSearch.valid"
                >
                  <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                  <span class="sr-only">Search</span>
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="container mx-auto px-4">
    <router-outlet />
  </section>
  <app-spinner />
</main>
